My_workflow_1(1).json
{
  "name": "My workflow 10",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Nos6uY5Ewg6Ou1jALe4cJB1_wimO6iaNG3c3lmmdU9M",
          "mode": "list",
          "cachedResultName": "Book 2 (1)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nos6uY5Ewg6Ou1jALe4cJB1_wimO6iaNG3c3lmmdU9M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2110932875,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nos6uY5Ewg6Ou1jALe4cJB1_wimO6iaNG3c3lmmdU9M/edit#gid=2110932875"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "b7e1c24e-c176-4c7f-8bb4-c21aec165676",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eApo0mpOEaPWcJn8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f505e59d-43f0-44af-b2ca-4fc8dfa3fc00",
              "leftValue": "={{ $json.City }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        -60
      ],
      "id": "141cd4eb-0476-47a2-b493-e31aa5dc5e84",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=http://api.openweathermap.org/geo/1.0/direct",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json[\"City\"]}}"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "appid",
              "value": "fda5c685b27cebe6ba17b130101113e3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        -120
      ],
      "id": "cec73029-dc89-474d-a0ad-20d226e26100",
      "name": "fetch geo coding  coordinates"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "appid",
              "value": "fda5c685b27cebe6ba17b130101113e3"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -180
      ],
      "id": "538e6498-64a4-4446-838f-747a1027aa5a",
      "name": "fetch weather temp?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Nos6uY5Ewg6Ou1jALe4cJB1_wimO6iaNG3c3lmmdU9M",
          "mode": "list",
          "cachedResultName": "Book 2 (1)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nos6uY5Ewg6Ou1jALe4cJB1_wimO6iaNG3c3lmmdU9M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1929304734,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nos6uY5Ewg6Ou1jALe4cJB1_wimO6iaNG3c3lmmdU9M/edit#gid=1929304734"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1720,
        -260
      ],
      "id": "af3da287-78e3-458d-976f-29dbaf813cd1",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eApo0mpOEaPWcJn8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst currentUser = $('Loop Over Items').item.json;\n\nconst weatherData = $('fetch weather temp?').item.json;\n\n\nconst userTasks = $input.all();\n\n// Extract weather information\nconst temp = weatherData.main.temp.toFixed(1);\nconst description = weatherData.weather[0].description;\nconst cityName = weatherData.name;\n\nlet taskList = \"No tasks assigned\";\nif (userTasks && userTasks.length > 0) {\n  taskList = userTasks.map((task, index) => {\n    const taskName = task.json[\"Task Name\"] || \"Unnamed Task\";\n    const status = task.json.status || \"No Status\";\n    return `${index + 1}. ${taskName} [${status}]`;\n  }).join('\\n');\n}\n\nconst emailMessage = `Hi ${currentUser.User_name},\n\nHere's your daily update:\n\n Weather in ${cityName}:\n${description}, ${temp}°C\n\nYour To-Do List:\n${taskList}\n\nHave a great day!\n\nBest regards,\nYour Personal Assistant`;\n\n// Return the structured data for email sending\nreturn [{\n  json: {\n    email: currentUser.Email,\n    name: currentUser.User_name,\n    city: currentUser.City,\n    subject: `Daily Update for ${currentUser.User_name} - ${cityName} Weather & Tasks`,\n    message: emailMessage,\n    weatherInfo: {\n      city: cityName,\n      temperature: temp,\n      description: description\n    },\n    taskCount: userTasks ? userTasks.length : 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        -120
      ],
      "id": "68701142-930f-42a0-aadb-d132bddaaca0",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Weather and Task updates",
        "emailType": "text",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2400,
        80
      ],
      "id": "c5273b65-1855-4d7b-8cc2-a9166e600ed5",
      "name": "Send a message",
      "webhookId": "9b0a87c4-2019-45a6-917e-c72e19db14e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "0YXf8hQbvhi3WFwV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c9caba64-2942-46a4-9c18-4578e4bab251",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "2b9f7e3b-06aa-4078-b1ea-dc54f49050c3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94228842-604f-4cc4-ba90-d8abe0d41a8d",
              "name": "Email",
              "value": "={{ $json[\"Email\"].toLowerCase().trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1940,
        -260
      ],
      "id": "3232c941-f33c-4d16-9107-fac311db1238",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "errorMessage": "City value is missing for the user. Please check the input data."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1280,
        80
      ],
      "id": "92969303-2a8e-40c0-b7d2-6b3e60360715",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "fetch geo coding  coordinates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch geo coding  coordinates": {
      "main": [
        [
          {
            "node": "fetch weather temp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch weather temp?": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0fe8eefa-5e99-4f1d-b2f0-46fba18bd56b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83b761825fe009c350ac0b22db13da3271ed1c3fb3c350cd3dffb40fbed22eb0"
  },
  "id": "pJw2IEFcXZZyt0PZ",
  "tags": []
}